{% load static %}  
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>crop website</title>
</head>
<body>

<h1>Details on<i> BRINJAL</i></h1>
<body style="background-color:rgb(180, 180, 180);">


<div class="brinjalinfo">
<li>Brinjal or Eggplant is derived from Arabic and Sanskrit</li>
<li>The brinjal is of much importance in the warm areas of Far East, being grown extensively in India, Bangladesh, Pakistan,
China and the Philippines. It is also popular in Egypt, France, Italy and United States.</li>

<li>A daily average temperature of 13 to 21 C is most favourable for optimum growth and
yield.</li><li> The brinjal seed germinate well @25C

Well drained soil rich in organic matter with <b>pH of 6.5- 7.5</b></li>
<p><b>Seed Rate & Sowing Time</b><p>
<li>Varieties : 400 grams /ha ,Hybrids : 200 grams /ha.December – January and May – June.</li>

<h2>Application of manures and fertilizers</h2>
Apply 2 kg each of Azospirillum and Phosphobacteria in the main field at planting.<li><b>Varieties :-</b>
Basal dose : FYM 25 t/ha, NPK 50:50:30 kg/ ha. Top dressing : 50 kg N/ha on 30th day of planting
or during earthing up. </li><li><b>Hybrids :-</b> Basal dose : FYM 25 t/ha, NPK 100:150:100 kg/ha. Top
dressing : 100 kg N/ha on 30th day of planting or during earthing up.</li>
<h3>Harvesting and Yield</h3>
<p>The brinjal fruits are harvested when they attain full size and colour but before start of ripening.<li>
Tenderness bright colour and glossy appearance of fruit is the optimum stage of harvesting of fruits.</li>
When the vegetables look dull, it is an indication of maturity and loss of quality in brinjal farming.</p>
<h4>Yield</h4>
<p>Yield varies from season to season, variety to variety and location to location. However, in general
250 to 500 q/ha of healthy vegetables of brinjal can be obtained from your brinjal farming.</p>


</div>


















</body>
</html>
