{% load static %}  
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel = "icon" href ="{% static 'img/logo.jpg' %}" type = "image/x-icon">
    <meta charset="UTF-8">
 	 <title>paddy</title>
</head>
<body>
<h1>Information on Paddy Crop</h1>
<body style="background-color:rgb(180, 180, 180);">

<p>Rice is the seed of a grass variety called Oryza sativa and Oryza glaberrima.  <b>Climate for Paddy Cultivation</b>  It also needs bright sunshine with temperature ranging between 20 and 40<sup>0</sup>C
It can tolerate temperature upto 42<sup>0</sup>C</p>
<h2>Season for Rice Crop</h2>
<p>India has three rice farming seasons- summer, autumn and winter.
<div class="season">
<div><li>‘kharif’ season also called ‘winter rice’.<li>June-July and is harvested during November- December months</li></li></div><li>rabi season is also called as ‘summer rice'<li>November to February and harvested during March to June</li></li><li>The pre-kharif or ‘autumn rice’ is sown during May to August</li></div>
</p>
<h3>pH Level for Rice Farming</h3>
<li>Rice can be cultivated in both acidic as well as alkaline soil.</li>
<h4>MODREN MISSIONS FOR PADDY</h4>
<div class="imas">
<ul><img src="{% static 'img/cull.jpg' %}" width="300" height="200">
<img src="{% static 'img/cul.jpg' %}" width="300" height="200">
<img src="{% static 'img/cul.jpeg' %}" width="300" height="200"></ul></div>












</body>
</html>
