{% load static %}  
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <link rel = "icon" href ="{% static 'img/logo.jpg' %}" type = "image/x-icon">
 	 <title>Sugarcane</title>
</head>
<body>
<body style="background-color:rgb(180, 180, 180);">
<h1>Information on sugarcane crop</h1>
<p>Sugarcane (Saccharum officinarum L.) is the main sources of sugar in India and
holds a prominent position as a cash crop. India is the world’s largest consumer
and the second largest producer of sugar, topped only by Brazil. Nearly 2.8 lakh
farmers have been cultivating sugarcane in the vast area of 4.4 lakh acres and
over 11 crore people are directly or indirectly dependent on the sugar industry
in the country.
<h2>•
Climate</h2>
<p>Sugarcane grows best on medium heavy soils, but can also be raised on lighter
soils and heavy clays, provided there is adequate irrigation available in the
former type of soils and drainage is good in the latter type of soils</p>



<h3>•
Soil</h3>
<p>Sugarcane grows best on medium heavy soils, but can also be raised on lighter
soils and heavy clays, provided there is adequate irrigation available in the
former type of soils and drainage is good in the latter type of soils</p>
<b>Varieties</b
<p>CO – 419, CO – 740, CO – 7219 (Sanjivini), CO.M – 7125, CO – 7527, CO.M –
88121(7714), CO –8014 (Mahalaxmi), CO – 86032 (Nira), CO.C – 671, CO.C –
85061, CO - 8011, CO.M. – 7114, CO.S.I – 776</p>
<b>Fertilizers</b>
<p>Adequate manuring is essential for sustained high yields.The general
recommendation in most places is to apply half to two-thirds of the nitrogen in
the form of bulky organic manures, such as farmyard manure, compost, green
manure or tree leaves, and the remainder in the form of ammonium sulphate or
oil-cakes or a combination of the two.</p>
<b>Irrigation</b>
<img src="{% static 'img/sug.jpeg' %}" width="300" height="200">
<p>Water requirement of sugarcane varies from 2000 to 2500 mm depending upon
its duration, soil type and climatological factors.
germination phase (1-35 days) there should be enough moisture in the soil.</p>











</body>
</html>
