{% load static %}  
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <link rel = "icon" href ="{% static 'img/logo.jpg' %}" type = "image/x-icon">
 	 <title>Tomato</title>
</head>
<body>
<h1>Information on Tomato Crop</h1>
<body style="background-color:rgb(180, 180, 180);">
<p>The first harvesting of plants usually starts in 75 to 90 days from planting.</p> 
<b>Climate </b> 
<p>The tomato is warm season crop. The temperature of 20-25 °C is considered to be ideal for tomato
cultivationDue to intense heat (temperature above 43 °C), the plants get burnt, and flowers and small fruits
also fall, whereas less than 13°C and greater than 35 °C decreases the fruits and the red color
production ratio.</p>
<b>Land</b>
<p>For Tomato farming soil PH must be at 6-7 with soil with excellent drainage property.</p>
<h2>Advanced varieties</h2>
<b>Improved Verity:</b>
<p>Pusa Ruby, Pusa- 120, Pusa shital, Pusa Gaurav, Pusa Early Dwarf, Arka Saurabh,Arka Ahuti ,Arka
Vikas,Arka Meghali, HS101, HS102, HS110,Hisar Arun,Hisar Lalit, Hisar Lalima, Hisar
Anmol,Co-1, CO 2, CO 3, S-12,PKM 1,Punjab Chhuhara,Pant Bahar, Pant T3 and Solan Gola
</p>
<b>Hybrids Verity:</b>
<p>Pusa Hybrid 1, Pusa Hybrid 2, Pusa Hybrid 3 , Arka Abhijit, Arka Vishal, Arka Shresta, Arka
Vardan, Vaishali, COTH 1 Hybrid Tomato, Rashmi, MTH 4, Naveen, Rupali, Avinash 2,
Sadabahar, Sonali and Gulmohar.</p>
<b>Fertilizers and manure</b>
<div class='imas">
<ul>
<img src="/home/student/Desktop/tomato/tmat.jpeg" width="300" height="200">
</ul></div>


<p>At the time of land preparation, broadcast and thoroughly mix the well-decomposed FYM at 20 to
25 t/ha in the soil
Then add a basal fertilizer dose Nitrogen – 60 kg, Phosphorus – 80 kg and Potash -60 kg Potash per
hectare.
After 30 to 45 days of planting, give 30 kg amount of nitrogen to the crop.</p>
<b>Irrigation for Tomato Crop</b>
<p>To get maximum yield from tomato crop, use drip irrigation method. During summer give water 6-
7-day intervals and in winter season give water after of 10-15 days.
If possible, use drip irrigation. With the help of this irrigation method, you can able to save about
60-70 percent of the water and increase 20%-25% more production.</p>












</body>
</html>
