{% load static %}  
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <link rel = "icon" href ="{% static 'img/logo.jpg' %}" type = "image/x-icon">
    <title>Watermelon</title>
</head>
<body>
<h1>INFORMATION ON WATERMELON</h1>
<body style="background-color:rgb(180, 180, 180);">
<div class="infowat"><p>Watermelons are mainly cultivated in Maharashtra, Karnataka, Tamil Nadu,
Punjab, Rajasthan, Madhya Pradesh, and Uttar Pradesh.
<li>It contain 92% water along with proteins, minerals and
carbohydrates.</li>
<li>Watermelon grows well in deep fertile and well-drained soil.</li>

<li>pH of soil should be in between 6-7</li></p></div>

<h2>Time of sowing</h2>
<div class="sow"><li>In north it is sown during middle of January to March and in November to December.</li>
<p><b>Method of sowing</b>
For sowing different methods of planting like <li>furrow method</li><li>Pit method </li><b> hill method</b> can be
used depending upon climate and season.</p></div>

<li>Seed Rate</li>
<li>For sowing one acre land, seed rate of 1.5 to 2 kg is required.</li>
<h3>Seed Treatment</h3>
<p>Before sowing treat seed with<b> Carbendazim@2gm/kg of seeds</b>. After chemical treat seeds with
<b>Trichoderma viride@4gm per kg of seeds</b>. Dry seeds in shade and then do sowing immediately.</p>
<h4>Harvesting</h4>
<p>If tendril near stem gets dried also whitish color of fruit which touch to ground get yellowish then
assume that fruit is ready for harvesting</p>







</body>
</html>
