.gro img{
margin-left:16%;
}
.pad img{
margin-left:25%;
}
.ta img{
margin-left:23%;
}
.sug img{
margin-left:20%;
}
.brin img{
margin-left:22%;
}
.bana img{
margin-left:23%;
}
.sun img{
margin-left:18%;
}
.water img{
margin-left:16%;
}


